@(num: Integer)(str: String)

@main(" Extended Tiger Running Space, Page 4 ") {

	<script src='@routes.Assets.at("javascripts/index.min.js")'></script>
	<script src="@routes.Assets.at("javascripts/tigerjs.js")" type="text/javascript"></script>

	<h2>Random number</h2>


	<p>
		We 'll do something with it later
	</p>

	<br />

	<p>
		@num
	</p>

	<br />
	<br />
	Indicator 7 @str.toUpperCase()
	<br />See 8zentasks for login
	<br />

	----------------_________________------------------<br /><br />

	<script type="text/javascript">
		document.write("<i> Javascript </i>");
		document.write("<p align='right'> Align Right </p>");
	</script><br /><br />

	----------------_________________------------------

	<br />
	<noscript>
		<p>Sorry, your browser does not support Javascript.</p>
	</noscript>
	<br />


}